@tailwind base;
@tailwind components;
@tailwind utilities;
/* ./src/app/globals.css */
/* @import '~antd/dist/antd.css'; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.blog-details {
  font-size: 24px;
  margin-bottom: 20px;
}
.title-details {
  text-transform: capitalize;
}
.main {
  height: 100vh;
}
.card-row-wrapper {
  margin: 20px 20px;
}
.card-wrapper {
  height: 200px;
  width: 300px;
}

.title:hover {
  color: #296db2;
  text-decoration: underline;
}

.page-header {
  font-size: 24px;
}
.main-header {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1200px;
  height: 500px;
}

.main-header .ant-btn {
  width: 50%;
}
